
body{
  font-family: 'Rubik', sans-serif;
  background-color: rgb(245, 241, 234);
  font-family: 'Roboto', sans-serif;
}
.CardDisplay{
    margin: 0rem auto;
    padding: 15px 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  
  }
  
  
 .card{
  
  box-shadow: 1px 1px 5px rgb(110, 110, 110);
 }
 .card-img{
  height: 250px;
  overflow: hidden;
 }
 .card-img1{
  width: 100%;
 }
.card-titale{
  margin: 5px;
  margin-left: 15px;
}
.brand{
  color: cadetblue;
  font-size: 14px;
}
.Curr-rate{
  text-decoration:line-through;
}
.dis{
  background-color: red;
  border-radius: 5px;
  padding: 2px;
}
.Sixet{
  border: 1px solid;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  background-color: rgb(160, 207, 209);
}

  .footer {
    margin: 0rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .footer-cont {
    max-width: 400px;
    min-width: 280px;
  }
  .anima{
    position: absolute;
    top: 150px;
    margin-left: 25px;
    
  }

#navbar{
  
  background-color:rgb(0, 0, 0);
  padding-top:10px ;
  box-shadow: 1px 1px 5px blue;
 
}

#link{
  color: rgb(245, 241, 234);
  font-size:large;
}
.logo{
  width: 180px;
}
.carousel{
  box-shadow: 1px 1px 5px blue;
}
.footer_outer{
  color: rgb(245, 241, 234);
  background-color: rgb(0, 0, 0);
}
@media screen and (max-width:600px) {
  .cardo{
    width: 250px;
  }
  
}
.active{
  background-color: darkred;
  border-radius: 5px;
}
:hover.nav-item{
  background-color: rgb(66, 19, 19);
  border-radius: 5px;
  /* margin: 1px; */
}
.nav-item{
  margin-left: 20px;
}
.ashish{
  text-decoration: none;
  color: black;
}
.prodtit{
text-decoration:underline rgb(130, 130, 236) 2px;
text-underline-offset: 8px;
text-shadow:1px 1px 1px;
color: black;
}